{% extends 'base.html.twig' %}

{% block title %}Création cour{% endblock %}

{% block body %}

    <h1>Ajouter un cour pour la formation : {{ formation_nom }}</h1>

     {{ form(formulaire) }}

{% endblock %}