{% extends 'base.html.twig' %}

{% block title %}Création cour{% endblock %}

{% block body %}

    {% if formation_nom is defined %}
        <h1>Ajouter un cour pour la formation : {{ formation_nom }}</h1>

        {{ form(formulaire) }}
    {% else %}
        <h2>Vous n'êtes pas enseignant responsable!</h2>
    {% endif %}

{% endblock %}