{% extends 'base.html.twig' %}

{% block title %}Hello EnseignantController!{% endblock %}

{% block body %}
<style>
    table{
        border-collapse: collapse;
        border:1px solid #cccccc;
        font-family: sans-serif;
    }
    thead{
        background-color: #333;
        color: #fff;
    }
    td, th{
        padding: 5px 10px;
        border:1px solid #cccccc;
    }
</style>

<div class="example-wrapper">
    <h1>liste d'enseignant </h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.personne.email }}</td>
                <td>{{ enseignant.personne.nom }}</td>
                <td>{{ enseignant.personne.prenom }}</td>
                <td>{{ enseignant.StatutEnseignant.nom }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
