{% extends 'base.html.twig' %}

{% block title %}Liste Ues validés{% endblock %}

{% block body %}
    {% if pasEtudiant is defined %}
        <h2>Vous n'êtes pas un étudiant!!</h2>
    {% endif %}



{% endblock %}
