/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #aaaaaa;
    transition: color .15s ease-in-out;
    text-decoration: none;
}
.text-end a {
    color: white;
}
.active{
    color: #B0413E !important;
    font-weight: bold;
}
.site-header a:hover {
    color: rgb(240,3,64);
    text-decoration: none;
}
main {
    margin-top: 25px;
}

div.pagination {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

div.pagination > a, button {
    text-align: center;
    margin: 0 5px;
    padding: 4px 12px 2px 12px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    /* rgb(220, 53, 69) */
}

div.pagination > a#clicker {
    background-color: rgb(220, 53, 69);
    color: white;
}

div.pagination > button {
    background-color: WHITE;
    color: BLACK;
    transition: 200ms linear;
}
div.pagination > button:hover {
    background-color: rgb(223, 157, 164);
    color: BLACK;
}