{% extends 'base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    {{ form(addEtudiantForm) }}
    {% for error in errors %}
    <div class="alert alert-warning" role="alert">
        {{ error.message }}
    </div>
    {% endfor %}
{% endblock %}
