{% extends 'base.html.twig' %}

{% block title %}Liste des UE{% endblock %}

{% block body %}

    <h2>Filtres:</h2>
    <nav>
        <p>tout une tas de filtres</p>
    </nav>
    {% if form_remplie is defined %}
        <h2>Résultat:</h2>
        <ul>
            <li>rien</li>
        </ul>
    {% else %}

    {% endif %}

{% endblock %}
